.recent-posts {
    display: grid;
    align-items: center;
    justify-items: center;

    .recent-posts-wrapper {
        display: grid;
        row-gap: 21px;
        width: 100%;

        .recent-post-heading{
            color: $color-blue-one;
            font-size: 14px;
        }

        .recent-posts_posts {
            display: grid;
            gap: 42px;          
            @media screen and (min-width: 700px) {
                grid-template-columns: 1fr 1fr 1fr;
            }

            
        }
    }
}

.post-topic {
    color: $color-grey-two;
    font-size: 14px;
    font-weight: 700;
    margin-right: 10px;
}